In [1]:
import numpy as np
import pandas as pd

In [11]:
data1 = pd.Series(data=["Sabaton", "Oomph!", "Rammstein"], name="BigData1")
data1

0      Sabaton
1       Oomph!
2    Rammstein
Name: BigData1, dtype: object

In [16]:
data1[0]

'Sabaton'

In [12]:
data1[data1 == 3]

Series([], Name: BigData1, dtype: object)

In [15]:
data1[data1 == "Sabaton"]

0    Sabaton
Name: BigData1, dtype: object

In [32]:
data1[data1 == "Sabaton"].loc[1:]

Series([], Name: BigData1, dtype: object)

In [34]:
data1 = pd.Series(data=["Sabaton", "Oomph!", "Rammstein"], name="BigData1", index=['a','b','c'])
data1

a      Sabaton
b       Oomph!
c    Rammstein
Name: BigData1, dtype: object

In [37]:
data1.loc['b':]

b       Oomph!
c    Rammstein
Name: BigData1, dtype: object

In [38]:
#Транспонирование не ведет к изменениям!
data1.T

a      Sabaton
b       Oomph!
c    Rammstein
Name: BigData1, dtype: object

In [ ]:
pd.Series(data=[1,2,3,4,5], name="BigData1")

In [44]:
dfl = pd.DataFrame([data1,data1,data1])
dfl

                a       b          c
BigData1  Sabaton  Oomph!  Rammstein
BigData1  Sabaton  Oomph!  Rammstein
BigData1  Sabaton  Oomph!  Rammstein

In [41]:
dfl = pd.DataFrame(np.random.randn(5,2),columns=list('AB'))
dfl

          A         B
0  0.635631  0.806224
1  0.739876 -0.288328
2  0.133833  0.121775
3  1.472117 -1.871640
4 -1.338614 -0.118136

In [42]:
dfl.T

          0         1         2         3         4
A  0.635631  0.739876  0.133833  1.472117 -1.338614
B  0.806224 -0.288328  0.121775 -1.871640 -0.118136

In [45]:
dfl = pd.DataFrame({'Name':['Konstantin','Nastya'], 'Nickname':['kostaNew', 'banas49']})
dfl

         Name  Nickname
0  Konstantin  kostaNew
1      Nastya   banas49

In [46]:
dfl = pd.DataFrame(np.random.randn(5,2),columns=list('AB'))
dfl

          A         B
0  0.753727  0.859759
1 -0.006910 -0.857282
2 -2.585129  1.328622
3 -0.947109 -0.971270
4  0.675510  0.440266

In [51]:
filtered = dfl[dfl.B > 0.1]
filtered

          A         B
0  0.753727  0.859759
2 -2.585129  1.328622
4  0.675510  0.440266

In [62]:
print filtered.iloc[0], filtered.loc[0]
print filtered.iloc[1], filtered.loc[2]
print filtered.iloc[2], filtered.loc[4]

 A    0.753727
B    0.859759
Name: 0, dtype: float64 A    0.753727
B    0.859759
Name: 0, dtype: float64
A   -2.585129
B    1.328622
Name: 2, dtype: float64 A   -2.585129
B    1.328622
Name: 2, dtype: float64
A    0.675510
B    0.440266
Name: 4, dtype: float64 A    0.675510
B    0.440266
Name: 4, dtype: float64

In [67]:
filtered.to_csv('data4pandas.csv')
pd.read_csv('data4pandas.csv')

   Unnamed: 0         A         B
0           0  0.753727  0.859759
1           2 -2.585129  1.328622
2           4  0.675510  0.440266

In [68]:
pd.read_csv('data4pandas.csv', index_col=0)

          A         B
0  0.753727  0.859759
2 -2.585129  1.328622
4  0.675510  0.440266